.testimonial{
    height: 100vh;
    display: flex;
}
.carousel-item{
    margin: auto;
    width: 50vw;
    height: fit-content;
    background-color: #f7f8fa;
    border: 1px;
    border-radius: 20px;
    box-shadow: 5px 5px #A9A9A9;
    margin-top:30vh;
}

.carousel-item{
    padding: 2% 3%;
    display: flex;
    justify-content: space-around;
    gap: 5vw;
}

.item-left{
    width: 40%;
    margin: auto;
}

.item-right{
    width: 60%;
}


.item-left img{
    width: 65%;
    border: 2px solid black;
    border-radius: 50%;
}

.item-header h1{
    font-size: 1.8em;
    color: #1363DF;
    margin-bottom: -5%;
    /* font-size: max(1.6vw,1.6vh); */
}

.item-header h4{
    border-bottom:2px solid rgb(145, 143, 143);
    margin-right: 20px;
    padding-bottom: 5px;
    /* font-size: max(1.3vw,1.3vh); */
}

.item-right p{
    font-size: 1.2em;
    /* font-size: max(1.2vw,1.2vh); */
}

.slick-next , .slick-prev{
    top: 47% !important;
}

.slick-prev {
    left: 15% !important;
    z-index: 1;
    background-color: black !important;
  }
  .slick-next {
    right: 15% !important;
    z-index: 1;
    background-color: black !important;
  }

  @media only screen and (max-width: 700px) {
   .carousel-item{
    display: flex;
    flex-flow: column;
    /* height: fit-content; */
    width: 60vw;
    /* padding-top: 5%; */
   }

   .item-left{
    padding-top: 2%;
   }

   .item-left img{
    width:100%;
    margin: auto;
   }

    .item-right {
 margin: auto;
 width: 80%;
padding-left: 2%;
text-align: justify;
line-height: 1.8rem;
   } 

   .item-right h1{
    font-size: 1.5rem;
    text-align: justify;
   }

   

  }