.testimonial{
    height: 100vh;
    
}
.carousel-item{
    margin: auto;
    width: 600px;
    height: 220px;
    background-color: #f7f8fa;
    border: 1px;
    border-radius: 50px;
    box-shadow: 5px 10px #A9A9A9;
    margin-bottom:10%;
}

.carousel-item{
    padding: 2% 3%;
    display: flex;
    justify-content: space-around;
    gap: 5vw;
}

.item-left{
    margin: auto;
}


.item-left img{
    width: 100%;
    border: 2px solid black;
    border-radius: 50%;
}

.item-header h1{
    font-size: 1.8em;
    color: #1363DF;
    margin-bottom: -5%;
}

.item-header h4{
    border-bottom:2px solid rgb(145, 143, 143);
    margin-right: 20px;
    padding-bottom: 5px;
}

.item-right p{
    font-size: 1.2em;
}
/* 
.slick-prev {
    left: 13% !important;
    color: #1363DF;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  } */

  .slides{
      /* background-color: black; */
  }

  .slick-prev{
      display: block;
  }
  .slick-prev { left: 3% !important; z-index: 1; } .slick-next { right: 3% !important; z-index: 1; }

