@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
    /* font-family: 'Source Sans Pro', sans-serif; */
     font-family: "Open Sans",Arial,sans-serif;  
}
.index-main{
    margin: 10% 10% 0% 10%;
    display: flex;
    height: 80vh;
}

.index-description{
    width: 100vw;
}

.index-circle{
    height: 100vh;
    width: 50vw;
    border-radius: 50%;
}

.desc-main{
    margin-top: 100px;
}


.desc-main h1 strong{
    color: #1363DF;
}

.desc-main h1{
    color: black;
    font-size: 2em;
    font-family: "Bradley Hand", "cursive"
}

.desc-main h3{
    /* color: #1363DF; */
    font-size: 3em; 
}

.desc-sub{
    margin-top: 3%;
    width: 550px;
    font-size: 1.3em;
    line-height: 140%;
}

.index-buttons{
    margin-top: 50px;
}
.index-buttons Button{
    font-size: 1em;
}

.index-buttons Button:nth-child(2){
   margin-left: 5%;
}

.index-image{
    width: 80%;
    margin-top: 5%;
}

.index-image img{
    /* max-width: 100%; */
    border-radius: 10%;
    /* min-width: 100%; */
 /* margin-top: 10%; */
}
