body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: -apple-system-body;
}
.index-main{
    /* height: 200px; */
    margin: 10% 10% 0% 10%;
    /* background-color: black; */
    /* display: flex; */
    height: 100%;
}

.index-circle{
    height: 100vh;
    width: 50vw;
    border-radius: 50%;
}


.desc-main h1 strong{
    color: #1363DF;
}
.desc-main h3{
    color: #1363DF;
}

.desc-sub{
    margin-top: 3%;
    width: 40%;
}

.index-buttons Button:nth-child(2){
   margin-left: 2%;
}

.index-image{
    width: 7    0%;
}

.index-image img{
    max-width: 100%;
    /* min-width: 100%; */
 /* margin-top: 10%; */
}
