.Appointment{
   padding: 0% 10%;
}
.Appointment-top{
   display: flex;
   height:fit-content;
   position: static;
}

.Appointment-left{
   width: 70%;
}

.Appointment-right{
   width: 100%;
   padding-left: 10%;

}

.Appointment-left img{
   width: 100%;
}

.Appointment-right-moto{
   font-size: 3rem;
}

.Appointment-right-moto-desc{
   font-size: 1.2em;
   text-align: left;
   line-height: 1.5em;
   margin-bottom: 70px;
}
/* 
.Appointment-services{
   padding: 0% 5%;
} */

.Appointment-services1,.Appointment-services2{
   display: flex;
   justify-content: space-between;  
}

.Appointment-services1 div img{
   width: 25vw;
  
}

.Appointment-services1-2{
   margin-top: 10%;
   width: 42vw;
   font-size: 1.2em;
   text-align: left;
}

.Appointment-services2-2{
   margin-top: 10%;
   width: 45%;
   font-size: 1.2em;
   text-align: left;
   
}



.Appointment-services2 div img{
   width: 25vw;
   float: right;
  
}
.Appointment-image{
   margin-top: 9vw;
   /* width: 30vw; */
   justify-content: center;
   text-align: center;

   /* border-radius: 50%; */
   /* border-style: solid; */
   background-color:#f7f8fa;
   /* box-shadow: 12px 12px #c2c1c1; */
   border-radius: 30px;
    border: 10px solid hsla(0,0%,100%,.5);
   
}
.Appointment-services-desc h1{
   border-bottom: 5px solid red;
   display: inline;
}

/* .Appointment-services1-2
   margin-top: 10%;
   width: 75%;
   font-size: 1.2em;
} */

@media screen and (max-width:600px) {
   
   /* .Appointment{
      display: flex;
      flex-flow: column;
   } */

   /* .Appointment-services{
      display: flex;
      flex-flow: column;
   } */

   .Appointment-top{
   flex-flow: column;
   }
   .Appointment-left img{
      width: 80vw;
   }
      .Appointment-services1{
         display: flex;
         flex-flow: column;
         /* text-align: center; */
         justify-content: center;
         width: 100vw;
      }
      .Appointment-services1 div img{
      width:80vw;
      border-radius: 50%;
      }
      .Appointment-services1-2{
width: 80vw;
text-align: left;
      }

      .Appointment-services2 div img{
         width:80vw;
          float: none; 
          width:80vw;
          border-radius: 50%;
          border-style: double;
          border-color: aqua;
         }
         .Appointment-services2{
            display: flex;
            flex-flow: column-reverse;
         }

         .Appointment-services2-2{
   width: 80vw;
         }
         .Appointment-top{
            height: fit-content;
         }

}

@media screen and (max-width:950px) {
.Appointment-services1-2{
margin-top: 0%;
}
.Appointment-services2-2{
   margin-top: 0%;
}
}
