@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
.contactform h1{
    /* color: #1363DF; */
    margin-bottom: 2vh;
    text-align: left;
}
.contactform P{
  text-align: left;
  margin-left: 20px;
}
.Contactusform{
  background: #f7f8fa;
  display: flex;
  color: #777;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-top: 1.5%;
  padding-top: 5%;
}

#form-heading{
  text-align: center;
}

address{
  margin-top: -20px;
  font-size: 80%;
  text-align: justify;
  font-style: normal;
}

.contactdesc .social-media{
  margin-top: -15px;

}



input[type="text"]{  line-height: 3rem;
font-size:larger }

input[type="tel"]{  line-height: 3rem;
    font-size:larger }

input[type="email"]{  line-height: 3rem;
        font-size:larger }

        .contactdesc{
          /* margin: auto;
          justify-content:center;
          text-align: center; */
          font-size: 150%;
          margin-left: auto;
          width:40vw;
        }

        .contactform{
            background: #F9F9F9;
            display: flex;
            flex-flow: column;
            width: 35vw;
            margin: auto auto auto auto; 
            text-align: center;
            justify-content: center;
            height: fit-content;
            /* border-radius: 25px; */
            margin-bottom: 5%;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                   
          }


.contact-input input{
margin: auto;
width: 80%;
margin-top: 5%;
/* margin-bottom: 8%; */
border: 1px solid #ccc;
background: #FFF;
order: 1px solid #aaa;
padding: 10px;
height: 25px;
/* margin-left: 20px; */
font-size: 14px;

}
.contact-input textarea{
  margin: auto;
width: 80%;
margin-top: 5%;
/* margin-bottom: 8%; */
border: 1px solid #ccc;
background: #FFF;
order: 1px solid #aaa;
padding: 10px;
height: 25px;
/* margin-left: 20px; */
font-size: 14px;
height: 75px;
margin-bottom: 5% ;
}

.contactus-button{
  width:86%;
  /* background: #4CAF50; */
  background: #1363DF;
  margin: auto;
  /* margin-left: 20px; */
  margin-bottom: 5%;
  line-height: 32px;
  border: none;
  height: 40px;
  color: #FFF;
  font-size: 1em;
}

.contactus-button:hover {
  background-color: gray;
}

@media screen and (max-width:960px) {
  .contactform{
    width: max-content;
  }
  
}

@media screen and  (max-width: 600px){
  .Contactusform{
    flex-flow: column;

  }
  .contactdesc{
    width:80vw;
    font-size:100%;
    margin-left: auto;
    margin-right: auto;
  }

  .contactform{
    width: 90vw;
  }

};
  


