.navbar{
  margin-bottom: 10%;
}
.navbar-main{
  padding : 0% 10%;
  display: flex;
  height: 80px;
  background-color: white;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 80vw;
  border-width: 0 0px 3px 0;
  transition: 1s;
}

.navbar-main2{
  position: fixed;
}

.navbar-right{
  position: absolute;
  display: flex;
  right: 0;
  padding-right: 10%;
  padding-top: 20px;
}

.navbar-right a{
  text-decoration: none;
  position: relative;
  top: 50%;
  padding-left: 30px;
  color: #1363DF;
  font-weight: bolder;
}

.navbar-right a:hover{
  color: black;
  transition: .5s;
}

.circle{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #1363DF;
  margin: auto;
  margin-top: 5px; 
}