.navbar-main {
    background-color: black;
    height: 100px;
    color: white;
    top: 0;
    /* padding: 0% 10%; */
}

.main-text{
    font-size: 2em;
    font-family:'Times New Roman', Times, serif ;
    text-align: center;
    padding: 3% 0% ;
}

.navbar-logo{
    margin-top: -90px;
    width: 10vw;
    background-color: grey;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    margin-left: 10%;
}

.navbar-items{
    height: 5vw;
    /* margin-top: -30px; */
    color: black;
    position: static;
    /* background-color: red; */
    padding-right: 10%;
    display: flex;
    float: right;
}

.navbar-items a{
    color: black;
    right: 0;
    padding: 0px 1.65vw;
    font-size: 1.2em;
    text-decoration: none;
}